@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-UltraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-UltraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-RegularItalic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Semibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-SemiboldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Extrabold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-ExtraboldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Heavy.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-HeavyItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a,
form {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  line-height: 1;
}

button,
input,
textarea {
  outline: none !important;
  font-family: "Gilroy", sans-serif;
}

input[type=text]:focus,
input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input:active {
  outline: none !important;
}

/*css оформление скроллбара*/
div.catalog-table-content::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 7px;
}

div.catalog-table-content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
  color: #222;
}

::-moz-placeholder {
  color: #222;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #222;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #222;
}

.transit {
  /* Safari */
  transition: all 0.4s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

html {
  height: 100%;
}

.cls-1 {
  transition: all .3s;
}

body {
  font-family: "Gilroy", sans-serif !important;
  font-weight: 400;
  height: 100%;
  background-color: #000;
  background-image: url(../images/astro.png), url(../images/cards.png), url(../images/sky.png);
  background-repeat: no-repeat;
  background-size: auto, auto, 94% auto;
  background-position: 77px 107px, 0 946px, center top 0;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  text-decoration: none !important;
  color: inherit;
}
a:focus {
  text-decoration: none !important;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

i {
  line-height: 100%;
}

.header__logo {
  width: 191px;
  display: block;
  margin-right: 25px;
  flex-shrink: 0;
}
.header__logo img {
  width: 100%;
}
.header__theme-toggler {
  padding: 3px;
  border-radius: 21px 21px 21px 21px;
  display: flex;
  flex-shrink: 0;
  margin-right: 80px;
  background-color: #ba8658;
}
.header__theme-toggler-dark {
  border-radius: 18.5px;
  width: 58px;
  height: 37px;
}
.header__theme-toggler-light {
  border-radius: 18.5px;
  width: 58px;
  height: 37px;
}
.header__theme-toggler--dark .header__theme-toggler-dark {
  background-color: #252525;
}
.header__theme-toggler--light .header__theme-toggler-light {
  background-color: #252525;
}
.header__search {
  position: relative;
}
.header__search:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #ba8658;
  left: 0;
  top: 0;
}
.header__search input {
  background-color: #fff;
  width: 250px;
  border-radius: 20px;
  border: none;
  color: #000;
  height: 30px;
  padding: 0 15px;
}
.header__search-btn {
  margin-left: 20px;
}
.header__search--active::after {
  -webkit-animation: search 1s linear 1 forwards;
  animation: search 1s linear 1 forwards;
}
.header__burger {
  display: none;
}

.header-top__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header-top__left, .header-top__right {
  display: flex;
  align-items: center;
}
.header-top__hint {
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
}
.header-top__links {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}
.header-top__links-separate {
  font-weight: 300;
  color: #9a9999;
  margin: 0 10px;
}
.header-top__links-icon {
  margin-right: 10px;
}
.header-top__links-item:hover {
  color: #9a9999;
}

.header-center {
  background-color: #ba8658;
}
.header-center__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 51px;
}
.header-center__right {
  display: flex;
  align-items: center;
}
.header-center__link {
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.header-center__link > img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.18;
  transform: translate(-50%, -25%);
}
.header-center__link:hover {
  color: #000;
}
.header-center__link:not(:last-child) {
  margin-right: 65px;
}

.header-bottom {
  border-bottom: 1px solid #ba8658;
}
.header-bottom__inner {
  display: flex;
  align-items: center;
  height: 53px;
}
.header-bottom__right {
  display: flex;
  align-items: center;
}
.header-bottom__link {
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.header-bottom__link > img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.18;
  transform: translate(-50%, -25%);
}
.header-bottom__link:hover {
  color: #9a9999;
}
.header-bottom__link:not(:last-child) {
  margin-right: 65px;
}

@media screen and (max-width: 1200px) {
  .header__logo {
    margin-right: 15px;
  }
  .header__theme-toggler {
    margin-right: 40px;
  }

  .header-center__link:not(:last-child),
  .header-bottom__link:not(:last-child) {
    margin-right: 35px;
  }
}
@media screen and (max-width: 992px) {
  .header {
    position: relative;
  }
  .header__burger {
    display: flex;
    width: 21px;
    height: 14px;
    position: relative;
    flex-shrink: 0;
    margin-left: auto;
  }
  .header__burger:after, .header__burger:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 2px;
    background: #fff;
    left: 0;
    transition: all .3s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    transition: all .3s;
  }
  .header__burger--active:before {
    transform: rotate(45deg);
    top: 6px;
    background-color: #ba8658;
  }
  .header__burger--active:after {
    transform: rotate(-45deg);
    bottom: 6px;
    background-color: #ba8658;
  }
  .header__burger--active span {
    transform: scale(0.000001);
  }
  .header__mob-nav {
    position: absolute;
    width: 100%;
    background-color: #ba8658;
    padding: 20px 0;
    display: none;
    z-index: 10;
  }
  .header__search::after {
    display: none;
  }

  .header-top__hint {
    display: none;
  }

  .header-center__inner,
  .header-bottom__inner {
    height: unset;
    flex-wrap: wrap;
    padding: 0 5px;
  }
  .header-center__left,
  .header-bottom__left {
    width: 100%;
  }
  .header-center__right,
  .header-bottom__right {
    order: -1;
    width: 100%;
    margin-bottom: 10px;
  }
  .header-center__link,
  .header-bottom__link {
    display: block;
    line-height: 200%;
    width: 100%;
  }
  .header-center__link:not(:last-child),
  .header-bottom__link:not(:last-child) {
    margin-right: 0;
  }
  .header-center__link img,
  .header-bottom__link img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    width: 160px;
  }
  .header__theme-toggler {
    margin-right: 0px;
    position: absolute;
    right: 10px;
    top: 22px;
  }
  .header__theme-toggler-dark, .header__theme-toggler-light {
    width: 40px;
    height: 30px;
  }
  .header__theme-toggler-dark img, .header__theme-toggler-light img {
    width: 17px;
  }
  .header__search input {
    width: 200px;
  }
  .header__search-btn {
    margin-left: 10px;
  }
  .header__search-btn img {
    width: 20px;
  }

  .header-top__inner {
    flex-wrap: wrap;
  }
  .header-top__left {
    width: 100%;
    margin-bottom: 20px;
  }
  .header-top__right {
    width: 100%;
  }
  .header-top__links {
    font-size: 15px;
  }
  .header-top__links-separate {
    margin: 0 5px;
  }
}
@keyframes search {
  from {
    width: 100%;
  }
  to {
    width: 0px;
  }
}
@-webkit-keyframes search {
  from {
    width: 100%;
  }
  to {
    width: 0px;
  }
}
.main {
  padding: 55px 0;
}
.main__inner {
  display: flex;
  justify-content: space-between;
}
.main__right {
  background-image: url(../images/astro3.png);
  background-size: 100% 100%;
  width: 585px;
  flex-shrink: 0;
}
.main__right img {
  width: 100%;
}
.main__left {
  padding-top: 50px;
}
.main__title {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  margin-top: 32px;
}
.main__desc {
  margin-top: 60px;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
}
.main__desc span {
  color: #c08d60;
}
.main__btn {
  width: 231px;
  margin-top: 67px;
}

.experts {
  padding: 90px 0;
  position: relative;
  background-image: url(../images/astro.png);
  background-repeat: no-repeat;
  background-position: right 168px center;
  background-size: 188px auto;
}
.experts .container {
  position: relative;
  z-index: 2;
}
.experts__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}
.experts__subtitle {
  text-align: center;
}
.experts__title {
  margin-top: 30px;
  text-align: center;
}
.experts__tabs {
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experts__tab {
  margin: 0 24px;
  height: 44px;
  border: 2px solid #393939;
  border-radius: 22px;
  padding: 0 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
}
.experts__tab:hover {
  background-color: #252525;
  color: #ba8658;
  cursor: pointer;
}
.experts__tab--active {
  pointer-events: none;
  background-color: #252525;
  color: #ba8658;
}
.experts__contents {
  margin-top: 140px;
}
.experts__content {
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 140px 68px;
}
.experts__content--active {
  display: grid;
}
.experts__btn {
  width: 231px;
  margin: 71px auto 0;
}

.best {
  padding: 90px 0;
  position: relative;
  background-image: url(../images/astro.png);
  background-size: 150px;
  background-position: left 170px bottom;
  background-repeat: no-repeat;
}
.best__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}
.best__subtitle {
  text-align: center;
}
.best__title {
  margin-top: 30px;
  text-align: center;
}
.best__slider {
  margin-top: 50px;
  position: relative;
}
.best__slider-prev, .best__slider-next {
  transform: translateY(25px);
}
.best__slider-prev:after, .best__slider-next:after {
  display: none;
}
.best__slider-next {
  right: -30px;
}
.best__slider-prev {
  left: -30px;
}
.best .swiper-container {
  padding-top: 75px;
}
.best__btn {
  width: 231px;
  margin: 71px auto 0;
}

.service-index {
  padding: 90px 0;
  position: relative;
}
.service-index:after {
  content: '';
  position: absolute;
  z-index: 1;
  background-image: url(../images/sky2.png);
  background-size: 100% 100%;
  width: 471px;
  height: 337px;
  opacity: 0.23;
  right: 0;
  bottom: 0;
}
.service-index__inner {
  position: relative;
  z-index: 2;
}
.service-index__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}
.service-index__subtitle {
  text-align: center;
}
.service-index__title {
  margin-top: 30px;
  text-align: center;
}
.service-index__slider {
  margin-top: 50px;
  position: relative;
}
.service-index__slider-prev:after, .service-index__slider-next:after {
  display: none;
}
.service-index__slider-next {
  right: -30px;
}
.service-index__slider-prev {
  left: -30px;
}
.service-index__btn {
  width: 231px;
  margin: 71px auto 0;
}

.why {
  padding: 90px 0;
  background-image: url(../images/sky.png);
  background-position: center;
  background-size: 93%;
  background-repeat: no-repeat;
}
.why__subtitle {
  text-align: center;
}
.why__title {
  margin-top: 30px;
  text-align: center;
}
.why__items {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.why__item {
  width: calc(20% - 50px);
}
.why__item:hover .why__item-bg {
  opacity: 1;
}
.why__item-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 156px;
  width: 100%;
  position: relative;
}
.why__item-bg {
  position: absolute;
  display: block;
  opacity: 0.6;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.why__item-icon {
  max-width: 60px;
  max-height: 60px;
  position: relative;
  z-index: 2;
}
.why__item-title {
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
  color: #ba8658;
  margin-top: 30px;
  text-align: center;
  display: block;
}
.why__item-desc {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}
.why__links {
  margin-top: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.why__links-item {
  width: 231px;
  margin: 0 10px;
}

.quiz {
  position: relative;
  background-image: url(../images/astro.png);
  background-size: 150px;
  background-position: right 170px top;
  background-repeat: no-repeat;
}
.quiz:after {
  content: '';
  position: absolute;
  z-index: 1;
  background-image: url(../images/sky3.png);
  background-size: 100% 100%;
  width: 471px;
  height: 337px;
  opacity: 0.23;
  left: 0;
  bottom: 0;
  transform: translateY(50%);
}
.quiz__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}
.quiz__subtitle {
  text-align: center;
}
.quiz__title {
  margin-top: 30px;
  text-align: center;
}
.quiz__inner {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-top: 65px;
}
.quiz__left {
  width: 420px;
  flex-shrink: 0;
  height: 450px;
  background-image: url(../images/quiz_bg1.png);
  background-size: 100% 100%;
  background-color: #ba8658;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 85px 65px;
}
.quiz__right {
  flex-grow: 1;
  background-color: #252525;
  background-image: url(../images/quiz_bg2.png);
  min-height: 567px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 100% 100%;
}
.quiz__tab {
  display: flex;
  align-items: center;
  width: 100%;
}
.quiz__tab i {
  transition: all .3s;
  width: 43px;
  height: 43px;
  background-color: #252525;
  border-radius: 50%;
  margin-right: 13px;
  font-size: 17px;
  font-weight: 500;
  color: #ba8658;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz__tab span {
  transition: all .3s;
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
  color: #252525;
}
.quiz__tab:hover {
  cursor: pointer;
}
.quiz__tab:hover i {
  background-color: #fff;
  color: #000000;
}
.quiz__tab:hover span {
  color: #fff;
}
.quiz__tab--active {
  pointer-events: none;
}
.quiz__tab--active i {
  background-color: #fff;
  color: #000000;
}
.quiz__tab--active span {
  color: #fff;
}
.quiz__btn {
  width: 231px;
  margin: 71px auto 0;
}
.quiz__nav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.quiz__nav-prev {
  margin-right: 15px;
}
.quiz__step {
  display: none;
}
.quiz__step-title {
  font-size: 29px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
.quiz__step-items {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 70px 50px;
}
.quiz__step-item {
  margin: 0 10px 20px;
  position: relative;
}
.quiz__step-item input {
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
.quiz__step-item input:checked + label {
  background-color: #ba8658;
  border-color: #ba8658;
  color: #fff;
}
.quiz__step-item label {
  height: 54px;
  border: 2px solid #6b6a6a;
  border-radius: 27px;
  padding: 0 27px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s;
}
.quiz__step-submit {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.quiz__step-submit-btn {
  padding: 0 30px;
}
.quiz__step--active {
  display: block;
}

.like {
  position: relative;
  padding: 90px 0;
}
.like__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}
.like__subtitle {
  text-align: center;
}
.like__title {
  margin-top: 30px;
  text-align: center;
}
.like__inner {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.like__left {
  width: calc(33.33% - 45px);
  padding-top: 20px;
}
.like__center {
  width: calc(33.33% - 45px);
  padding-top: 100px;
}
.like__right {
  width: calc(33.33% - 45px);
}
.like__item {
  padding: 35px 30px 40px;
  background-color: #ba8658;
  background-size: 100% 100%;
}
.like__item:not(:first-child) {
  margin-top: 40px;
}
.like__item-title {
  font-size: 19px;
  line-height: 140%;
  font-weight: 600;
  color: #000000;
}
.like__item-desc {
  font-size: 15px;
  line-height: 140%;
  margin-top: 15px;
}
.like__item--dark {
  background-image: url(../images/like_bg.png);
  background-color: #252525;
}
.like__item--dark .like__item-title {
  color: #ba8658;
}
.like__link {
  width: 230px;
  margin: 70px auto 0;
}

.feedback {
  padding: 90px 0;
  position: relative;
}
.feedback__inner {
  position: relative;
  z-index: 2;
}
.feedback__bg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0.2;
  width: 100%;
}
.feedback__subtitle {
  text-align: center;
}
.feedback__title {
  margin-top: 30px;
  text-align: center;
}
.feedback__slider {
  margin-top: 90px;
  position: relative;
}
.feedback__slider-prev:after, .feedback__slider-next:after {
  display: none;
}
.feedback__slider-next {
  right: -30px;
}
.feedback__slider-prev {
  left: -30px;
}
.feedback__btn {
  width: 231px;
  margin: 71px auto 0;
}
.feedback__item {
  padding: 0 30px;
}
.feedback__item-desc {
  font-size: 15px;
  line-height: 25px;
}
.feedback__item-name {
  color: #ba8658;
  font-size: 15px;
  line-height: 25px;
  margin-top: 5px;
}

.info {
  position: relative;
  padding: 90px 0 160px;
}
.info:after {
  content: '';
  position: absolute;
  z-index: 2;
  background-image: url(../images/sky2.png);
  width: 470px;
  height: 330px;
  background-size: 100% 100%;
  right: 0;
  top: -150px;
  opacity: 0.23;
}
.info__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}
.info__subtitle {
  text-align: center;
}
.info__title {
  margin-top: 30px;
  text-align: center;
}
.info__inner {
  position: relative;
  z-index: 2;
}
.info__items {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.info__item {
  display: flex;
  align-items: center;
  width: calc(50% - 50px);
}
.info__item-left {
  position: relative;
  width: 190px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.info__item-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.info__item-icon {
  position: relative;
  z-index: 2;
}
.info__item-desc {
  margin-left: 48px;
  font-size: 16px;
  line-height: 29px;
}
.info__btn {
  width: 230px;
  margin: 70px auto 0;
}

@media screen and (max-width: 1200px) {
  .main {
    padding: 40px 0;
  }
  .main__right {
    width: 420px;
  }
  .main__left {
    padding-top: 35px;
  }
  .main__title {
    font-size: 42px;
    line-height: 130%;
    margin-top: 20px;
  }
  .main__desc {
    margin-top: 25px;
  }
  .main__btn {
    margin-top: 35px;
  }

  .experts__content {
    gap: 100px 10px;
  }
  .experts__tab {
    margin: 0 10px;
  }

  .why__item {
    width: calc(20% - 10px);
  }

  .quiz__left {
    width: 320px;
    padding: 80px 30px;
  }
  .quiz__nav {
    padding: 20px;
  }
  .quiz__step-items {
    padding: 0 20px 20px;
  }
  .quiz__step-item {
    margin: 0 5px 10px;
  }
  .quiz__step-item label {
    padding: 0 15px;
  }

  .like__left {
    width: calc(33.33% - 15px);
    padding-top: 20px;
  }
  .like__center {
    padding-top: 50px;
    width: calc(33.33% - 15px);
  }
  .like__right {
    width: calc(33.33% - 15px);
  }

  .feedback__item {
    padding: 0 10px;
  }

  .info__item {
    width: 49%;
  }
  .info__item-left {
    width: 170px;
    height: 120px;
  }
  .info__item-desc {
    margin-left: 15px;
  }
}
@media screen and (max-width: 992px) {
  .main {
    padding: 30px 0;
  }
  .main__left {
    padding: 0;
  }
  .main__right {
    display: none;
  }

  .experts {
    padding: 30px 0;
    background-image: none;
  }
  .experts__bg {
    display: none;
  }
  .experts__contents {
    margin-top: 85px;
  }
  .experts__content {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .experts__tabs {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .experts__tab {
    margin: 0 5px 10px;
  }
  .experts__title {
    margin-top: 15px;
  }
  .experts__btn {
    margin-top: 30px;
  }

  .best,
  .service-index {
    padding: 30px 0;
    background-image: none;
  }
  .best__bg,
  .service-index__bg {
    display: none;
  }
  .best__title,
  .service-index__title {
    margin-top: 15px;
  }
  .best__btn,
  .service-index__btn {
    margin-top: 30px;
  }
  .best__slider,
  .service-index__slider {
    padding: 0 20px;
  }
  .best__slider-prev,
  .service-index__slider-prev {
    left: -10px;
  }
  .best__slider-next,
  .service-index__slider-next {
    right: -10px;
  }

  .service-index::after {
    display: none;
  }

  .why {
    padding: 30px 0;
    background-image: none;
  }
  .why__items {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 45px;
  }
  .why__item {
    width: 25%;
    margin: 0 20px 30px;
  }
  .why__links {
    margin-top: 0px;
  }

  .quiz {
    padding: 30px 0;
    background-image: none;
  }
  .quiz::after {
    display: none;
  }
  .quiz__bg {
    display: none;
  }
  .quiz__inner {
    display: block;
  }
  .quiz__title {
    margin-top: 15px;
  }
  .quiz__left {
    width: 100%;
    height: unset;
    padding: 40px;
    display: block;
    background-image: none;
  }
  .quiz__right {
    background-image: none;
    min-height: unset;
    padding-bottom: 20px;
  }
  .quiz__tab:not(:last-child) {
    margin-bottom: 15px;
  }
  .quiz__step-items {
    margin-top: 40px;
  }
  .quiz__step-title {
    font-size: 25px;
  }
  .quiz__btn {
    margin-top: 30px;
  }

  .like {
    padding: 30px 0;
    background-image: none;
  }
  .like__bg {
    display: none;
  }
  .like__inner {
    display: block;
    padding-bottom: 65px;
    margin-top: 25px;
  }
  .like__title {
    margin-top: 15px;
  }
  .like__left {
    width: 100%;
    padding-top: 0px;
  }
  .like__center {
    padding-top: 0px;
    width: 100%;
  }
  .like__right {
    width: 100%;
  }
  .like__item {
    margin-bottom: 20px;
    margin-top: 0 !important;
  }
  .like__link {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translatex(-50%);
    margin-top: 0;
  }

  .feedback {
    padding: 30px 0;
  }
  .feedback__item {
    padding: 0 10px;
  }
  .feedback__bg {
    display: none;
  }
  .feedback__slider {
    padding: 0 20px;
    margin-top: 40px;
  }
  .feedback__slider-prev {
    left: -10px;
  }
  .feedback__slider-next {
    right: -10px;
  }
  .feedback__btn {
    margin-top: 20px;
  }

  .info {
    padding: 30px 0 60px;
  }
  .info:after, .info__bg {
    display: none;
  }
  .info__items {
    flex-wrap: wrap;
  }
  .info__item {
    width: 100%;
  }
  .info__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .info__btn {
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .main__title {
    font-size: 23px;
    margin-top: 10px;
  }
  .main__desc {
    font-size: 15px;
    line-height: 130%;
    margin-top: 13px;
  }
  .main__desc br {
    display: none;
  }
  .main__btn {
    margin-top: 20px;
  }

  .experts__content {
    grid-template-columns: 1fr 1fr;
    gap: 90px 20px;
  }
  .experts__tab {
    padding: 0 25px;
    height: 35px;
    font-size: 12px;
    margin: 0 5px 5px;
  }

  .why__title {
    margin-top: 15px;
  }
  .why__item {
    width: 42%;
  }
  .why__item-title {
    line-height: 150%;
    margin-top: 15px;
  }
  .why__item-desc {
    line-height: 150%;
  }

  .quiz__inner {
    margin-top: 40px;
  }
  .quiz__left {
    padding: 20px;
  }
  .quiz__tab i {
    width: 33px;
    height: 33px;
    font-size: 14px;
  }
  .quiz__tab span {
    font-size: 14px;
    line-height: 130%;
  }
  .quiz__step-title {
    font-size: 17px;
  }
  .quiz__step-items {
    margin-top: 20px;
    padding: 0;
  }
  .quiz__step-item label {
    font-size: 13px;
    padding: 0 20px;
    height: 45px;
  }

  .like__inner {
    padding-bottom: 50px;
  }
  .like__item {
    padding: 20px;
    margin-bottom: 15px;
  }
  .like__item-title {
    font-size: 16px;
  }
  .like__item-desc {
    font-size: 14px;
    margin-top: 10px;
  }

  .feedback__item {
    padding: 0;
  }
  .feedback__item-desc, .feedback__item-name {
    font-size: 12px;
    line-height: 130%;
  }
  .feedback__title {
    margin-top: 15px;
  }
  .feedback__slider {
    margin-top: 20px;
  }

  .info__title {
    margin-top: 15px;
  }
  .info__items {
    margin-top: 30px;
  }
  .info__item {
    flex-wrap: wrap;
  }
  .info__item-left {
    margin-left: auto;
    margin-right: auto;
  }
  .info__item-desc {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    margin-left: 0;
    font-size: 14px;
    line-height: 140%;
  }
}
@media screen and (max-width: 500px) {
  .experts__content {
    grid-template-columns: 1fr;
    gap: 90px 20px;
  }

  .why__item {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .why__links {
    flex-wrap: wrap;
  }
  .why__links-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.services {
  padding: 70px 0 180px;
}
.services:after {
  content: '';
  position: absolute;
  z-index: 1;
  background-image: url(../images/sky3.png);
  background-size: 100% 100%;
  width: 471px;
  height: 337px;
  opacity: 0.23;
  left: 0;
  bottom: 336px;
  transform: translateY(50%);
}
.services .experts__bg {
  opacity: 0.09;
}
.services .experts__tabs {
  justify-content: center;
}
.services .experts__tab {
  padding: 0 30px;
  margin: 0 10px 20px;
}
.services .experts__contents {
  margin-top: 85px;
  padding: 0 37px;
}
.services .experts__content {
  gap: 70px;
}
.services .experts__btn {
  margin-top: 30px;
}
.services .card2__inner {
  padding: 40px;
}
.services__filter {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.services__filter-item {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: #a7a6a7;
}
.services__filter-item:hover {
  color: #ba8658;
  cursor: pointer;
}
.services__filter-item:hover path {
  fill: #ba8658;
}
.services__filter-item:not(:last-child) {
  margin-right: 25px;
}
.services__filter-item svg {
  transform: rotate(90deg);
  margin-left: 10px;
}
.services__filter-item--active svg {
  transform: rotate(270deg);
}
.services__bg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0.2;
  width: 100%;
}
.services__all {
  margin: 75px auto 0;
  width: 230px;
  font-size: 16px;
  font-weight: 600;
  color: #ba8658;
}
.services__all:hover {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .services .experts__content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 992px) {
  .services {
    padding: 30px 0 60px;
  }
  .services .experts__contents {
    margin-top: 40px;
  }
  .services .experts__content {
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
  .services__bg, .services:after {
    display: none;
  }
  .services__all {
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .services .experts__contents {
    padding: 0 25px;
  }
  .services .experts__content {
    gap: 40px;
    grid-template-columns: 1fr;
  }
  .services .experts__tab {
    padding: 0 25px;
    height: 35px;
    font-size: 12px;
    margin: 0 5px 5px;
  }
  .services .card2__inner {
    padding: 30px;
  }
  .services .card2__price {
    width: 65px;
    height: 65px;
    padding: 17px 0 10px;
  }
}
.footer {
  background-color: #191919;
  padding: 80px 0 150px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__left {
  width: 600px;
}
.footer__right {
  display: flex;
}
.footer__right-item:not(:last-child) {
  margin-right: 170px;
}
.footer__info p {
  opacity: 0.34;
  font-size: 14px;
  line-height: 25px;
}
.footer__info p:not(:last-child) {
  margin-bottom: 25px;
}
.footer__info p a {
  text-decoration: underline;
}
.footer__info p a:hover {
  text-decoration: none;
  opacity: 1 !important;
}
.footer__item {
  display: block;
  font-size: 15px;
  line-height: 29px;
}
.footer__item:hover {
  color: #c88f5d;
}
.footer__item--nolink {
  pointer-events: none;
}
.footer__socials {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.footer__socials-item:not(:last-child) {
  margin-right: 11px;
}

@media screen and (max-width: 1200px) {
  .footer {
    padding: 40px 0 100px;
  }
  .footer__left {
    width: 500px;
  }
  .footer__right-item:not(:last-child) {
    margin-right: 70px;
  }
}
@media screen and (max-width: 992px) {
  .footer {
    padding: 20px 0;
  }
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__right {
    order: -1;
    margin-bottom: 30px;
  }
  .footer__info p {
    line-height: 140%;
    font-size: 13px;
  }
  .footer__info p:not(:last-child) {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 768px) {
  .footer__right {
    margin-bottom: 15px;
  }
  .footer__right-item:not(:last-child) {
    margin-right: 35px;
  }
}
.card {
  background-image: url(../images/card_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 95px 30px 30px;
  position: relative;
  transition: all .3s;
  background-color: #252525;
}
.card:hover {
  background-color: #ba8658;
  background-image: url(../images/card_bg_active.png);
  color: #000000;
}
.card:hover .card__top:after {
  opacity: 1;
}
.card:hover .card__name:after {
  background-color: #fff;
}
.card:hover .card__link {
  background-color: #252525;
  color: #ba8658;
}
.card:hover .card__profession {
  font-weight: 500;
}
.card__top {
  width: 150px;
  height: 150px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__top img {
  z-index: 2;
}
.card__top:after {
  content: '';
  position: absolute;
  z-index: 1;
  opacity: 0.29;
  background-image: url(../images/card-top.png);
  width: 100%;
  height: 100%;
}
.card__notification {
  position: absolute;
  background: #b6d65e;
  z-index: 3;
  border-radius: 50%;
  right: 30px;
  bottom: 30px;
  width: 14px;
  height: 14px;
  border: 1px solid #ffffff;
}
.card__name {
  font-size: 17px;
  line-height: 130%;
  font-weight: 600;
  text-align: center;
  padding-bottom: 14px;
  position: relative;
}
.card__name:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 2px;
  background-color: #ba8658;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.card__profession {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  margin-top: 17px;
  text-align: center;
}
.card__info {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.card__info-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}
.card__info-item path {
  fill: #c78b53;
}
.card__info-item span {
  margin-top: 15px;
  width: 100%;
}
.card__info-item strong {
  width: 100%;
  font-weight: 600;
}
.card__link {
  width: 150px;
  height: 44px;
  margin: 28px auto 0;
  border-radius: 22px;
}

.card2 {
  background-color: #252525;
  padding: 8px;
}
.card2:hover {
  background-color: #ba8658;
  color: #000000;
}
.card2:hover .card2__inner {
  border-color: #000;
}
.card2:hover .card2__link {
  background-color: #252525;
  color: #ba8658;
}
.card2:hover .card2__desc {
  font-weight: 500;
}
.card2:hover .card2__title {
  color: #000;
}
.card2:hover .card2__title:after {
  content: '';
  position: absolute;
  z-index: 1;
  background: #000;
}
.card2:hover .card2__price {
  color: #ba8658;
  background-color: #fff;
}
.card2__inner {
  border: 1px solid #ba8658;
  padding: 30px;
  position: relative;
}
.card2__price {
  position: absolute;
  width: 74px;
  height: 74px;
  background-color: #ba8658;
  border-radius: 50%;
  top: -8px;
  right: 0;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0 14px;
}
.card2__price strong {
  font-size: 21px;
  font-weight: 500;
}
.card2__price span {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
}
.card2__title {
  font-size: 17px;
  line-height: 170%;
  font-weight: 600;
  text-align: center;
  position: relative;
  color: #ba8658;
  padding: 0 25px 20px;
}
.card2__title:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 2px;
  background-color: #fff;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.card2__desc {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  margin-top: 30px;
  text-align: center;
}
.card2__link {
  width: 150px;
  height: 44px;
  margin: 30px auto 0;
  border-radius: 22px;
}

.breadcrumbs {
  margin-top: 33px;
}
.breadcrumbs__inner {
  content: '';
  display: flex;
  align-items: center;
}
.breadcrumbs__items {
  padding: 8px 22px;
  border-radius: 23.5px;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: -22px;
}
.breadcrumbs__items:before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #252525;
  border-radius: 23.5px;
}
.breadcrumbs__item {
  font-size: 15px;
  line-height: 200%;
  font-weight: 500;
  color: #727171;
  position: relative;
  z-index: 2;
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 25px;
}
.breadcrumbs__item:not(:last-child):before {
  content: '';
  position: absolute;
  z-index: 2;
  width: 6px;
  height: 6px;
  right: -17px;
  top: 12px;
  background-color: #ba8658;
  border-radius: 50%;
}
.breadcrumbs__item:last-child {
  color: #ffffff;
}

.btn-yellow {
  background-color: #ba8658;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  height: 59px;
}
.btn-yellow:hover {
  background: #c08d60;
}

.btn-outline-yellow {
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  height: 59px;
  border: 2px solid #ba8658;
}
.btn-outline-yellow:hover {
  background: #c08d60;
}

.btn-outline-white {
  border: 2px solid #393939;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-rounded {
  border-radius: 30px;
}

@media screen and (max-width: 992px) {
  .breadcrumbs {
    margin-top: 0px;
  }
  .breadcrumbs__items {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .btn-yellow,
  .btn-outline-yellow {
    height: 45px;
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  .card__info {
    justify-content: center;
  }
  .card__info-item {
    margin: 0 5px;
  }
}
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0;
  }
}
.subtitle {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.36em;
  color: #c78b53;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }

  h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 992px) {
  body {
    background-image: none;
  }
}
@media screen and (max-width: 768px) {
  .subtitle {
    font-size: 12px;
    line-height: 130%;
  }

  h2 {
    font-size: 19px;
  }
}
