.expert-ordinar {
    margin-top: 65px;
    padding-bottom: 50px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        width: 330px;
        margin-right: 135px;
        flex-shrink: 0;
    }
    &__right {
        flex-grow: 1;
    }
    &__name {
        font-size: 32px;
    }
    &__profession {
        font-size: 16px;
        font-weight: 500;
        color: #ba8658;
        margin-top: 25px;
    }
    &__user {
        position: relative;
        margin-top: 50px;
        width: 330px;
        height: 330px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            background-image: url(../images/card-top.png);
            background-size: 100% 100%;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0.25;
        }
        &>img {
            width: 245px;
            position: relative;
            z-index: 2;
        }
    }
    &__play {
        position: absolute;
        bottom: 60px;
        left: 225px;
        display: flex;
        align-items: center;
        z-index: 3;
        & i {
            width: 45px;
            height: 45px;
            border: 2px solid #ba8658;
            margin-right: 12px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & span {
            font-size: 16px;
            line-height: 18px;
            font-weight: 500;
            color: #ba8658;
            text-align: left;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__btn {
        width: 204px;
        height: 59px;
        background-color: #252525;
        border-radius: 29.5px;
        border: 1px solid #252525;
        &:hover {
            background: #020202;
        }
        & img {
            margin-right: 10px;
        }
    }
    &__status {
        margin-top: 40px;
        font-size: 15px;
        line-height: 34px;
        margin-left: 1px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.36em;
        color: #b6d65e;
        padding-left: 30px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 13px;
            height: 13px;
            background-color: #b6d65e;
            border-radius: 50%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__desc {
        background-image: url(../images/like_bg.png);
        background-size: 100% 100%;
        font-size: 16px;
        line-height: 34px;
        padding: 30px 45px;
        margin-top: 35px;
    }
}

.expert-info {
    padding: 50px 0 150px;
    position: relative;
    background-image: url(../images/astro.png);
    background-size: 150px;
    background-position: right 170px bottom 470px;
    background-repeat: no-repeat;
    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        background-image: url(../images/sky3.png);
        background-size: 100% 100%;
        width: 471px;
        height: 337px;
        opacity: 0.23;
        left: 0;
        bottom: 326px;
        transform: translateY(50%);
        pointer-events: none;
    }
    &__inner {
        position: relative;
        z-index: 2;
    }
    &__tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 25px;
        border-bottom: 1px solid #ffffff;
    }
    &__tab {
        padding-left: 35px;
        position: relative;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        transition: all .3s;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 30px;
            height: 27px;
            background-image: url(../images/star.png);
            background-size: 100% 100%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all .3s;
        }
        &:hover {
            color: #ba8658;
            cursor: pointer;
            &::before {
                background-image: url(../images/star2.png);
            }
        }
    }
    &__tab--active {
        color: #ba8658;
        &::before {
            background-image: url(../images/star2.png);
        }
    }
    &__content {
        display: none;
    }
    &__content--active {
        display: block;
    }
    &__bg {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        opacity: 0.2;
        width: 100%;
        pointer-events: none;
    }
}

.expert-info-feedback {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background-color: #252525;
    }
    &-inner {
        position: relative;
        z-index: 3;
        padding: 40px 115px 80px;
    }
    &__all {
        &-num {
            width: 100%;
            display: flex;
            justify-content: center;
            & strong {
                font-size: 27px;
                font-weight: 500;
                text-transform: uppercase;
                line-height: 27px;
                margin: 0 6px;
            }
            & span {
                font-size: 16px;
                font-weight: 300;
                color: #7a7777;
                line-height: 27px;
                margin: 0 6px;
            }
        }
        &-rating {
            margin-top: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            &-item {
                margin: 0 5px;
                & img {
                    width: 22px;
                }
            }
        }
        &-desc {
            font-size: 15px;
            color: #929191;
            margin-top: 22px;
            text-align: center;
        }
    }
    &__items {
        margin-top: 55px;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
        &-top {
            display: flex;
            align-items: center;
        }
        &-rating {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px;
            &-item {
                margin: 0 3px;
                & img {
                    width: 12px;
                }
            }
        }
        &-name {
            font-size: 14px;
        }
        &-desc {
            font-size: 16px;
            line-height: 34px;
            margin-top: 20px;
        }
    }
    &__btn {
        width: 231px;
        margin: 50px auto 0;
        &-more {
            display: block;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            color: #ba8658;
            width: 200px;
            margin: 30px auto 0;
        }
    }
}

.experts-all {
    background-image: url(../images/astro.png);
    background-repeat: no-repeat;
    background-position: right 168px bottom 566px;
    background-size: 188px auto;
    .experts__tabs {
        justify-content: space-between;
    }
    .experts__tab {
        margin: 0;
    }
    .experts__contents {
        padding: 0;
        margin-top: 70px;
    }
    .experts__content--active {
        grid-template-columns: 1fr;
    }
    .experts__content--column {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: 50px;
        .experts-all__item {
            &:before {
                opacity: 0.9;
            }
            &:hover {
                .experts-all__item-btn {
                    background-color: #252525;
                    color: #ba8658;
                }
            }
            &-inner {
                padding: 95px 30px 30px;
                position: relative;
            }
            &-right {
                display: none;
            }
            &-left {
                display: block;
                width: 100%;
                padding-right: 0;
            }
            &-img {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 0;
                left: 50%;
                width: 150px;
                height: 150px;
            }
            &-name {
                text-align: center;
                &:before {
                    transform: translate(-50%, 0%);
                    left: 50%;
                }
            }
            &-profession {
                text-align: center;
                line-height: 140%;
            }
            &-info {
                &-item {
                    display: block;
                    text-align: center;
                }
            }
            &-btn {
                width: 150px;
                height: 44px;
                margin: 28px auto 0;
                border-radius: 22px;
                display: flex;
            }
        }
    }
    &__item {
        position: relative;
        &:not(:last-child) {
            // margin-bottom: 50px;
        }
        &:hover {
            .experts-all__item-img {
                &:before {
                    opacity: 1;
                }
            }
            .experts-all__item-name {
                color: #ba8658;
            }
        }
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            opacity: 0.7;
            background-color: #252525;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
        &-inner {
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: space-between;
            padding: 35px;
        }
        &-btn {
            display: none;
        }
        &-left {
            width: 47%;
            display: flex;
            flex-shrink: 0;
            padding-right: 40px;
        }
        &-img {
            margin-right: 45px;
            width: 160px;
            height: 160px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                background-image: url(../images/card-top.png);
                background-size: 100% 100%;
                opacity: 0.29;
                transition: all .3s;
            }
            & img {
                width: 116px;
                height: 116px;
                position: relative;
                z-index: 2;
            }
            & i {
                width: 14px;
                height: 14px;
                background-color: #b6d65e;
                bottom: 36px;
                right: 25px;
                position: absolute;
                border-radius: 50%;
                z-index: 3;
            }
        }
        &-name {
            margin-top: 18px;
            display: block;
            font-size: 17px;
            font-weight: 600;
            padding-bottom: 14px;
            position: relative;
            transition: all .3s;
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                width: 40px;
                height: 2px;
                background-color: #ba8658;
                bottom: 0;
                left: 0;
            }
        }
        &-profession {
            font-size: 15px;
            margin-top: 13px;
        }
        &-info {
            margin-top: 30px;
            display: flex;
            &-item {
                display: flex;
                align-items: center;
                font-size: 15px;
                font-weight: 400;
                &:not(:last-child) {
                    margin-right: 30px;
                }
                & svg {
                    flex-shrink: 0;
                    margin-right: 12px;
                }
                & path {
                    fill: #c78b53;
                }
                & span {
                    width: 100%;
                    display: block;
                    line-height: 21px;
                }
                & strong {
                    width: 100%;
                    font-weight: 600;
                    display: block;
                    line-height: 21px;
                }
            }
        }
        &-right {
            padding-left: 40px;
            position: relative;
            flex-shrink: 0;
            width: 53%;
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                width: 1px;
                height: 100%;
                opacity: 0.12;
                background-color: #ffffff;
                left: 0;
                top: 0;
            }
        }
        &-desc {
            width: 100%;
            font-size: 15px;
            line-height: 23px;
        }
        &-link {
            font-size: 15px;
            line-height: 23px;
            color: #c88f5c;
        }
        &-themes {
            font-size: 15px;
            line-height: 23px;
            margin-top: 18px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .expert-ordinar {
        &__left {
            width: 280px;
            margin-right: 40px;
        }
        &__user {
            width: 280px;
            height: 280px;
            &>img {
                width: 210px;
            }
        }
        &__play {
            left: 150px;
        }
    }
    .expert-info {
        padding: 50px 0 100px;
    }
    .expert-info-feedback {
        &-inner {
            padding: 40px 60px 65px;
        }
    }
    .experts-all {
        .experts__content--column {
            gap: 100px 10px;
            .experts-all__item {
                &-info {
                    display: flex;
                    justify-content: space-between;
                    &-item {
                        flex-grow: 1;
                    }
                }
            }
        }
        &__item {
            &-profession {
                line-height: 130%;
            }
            &-info {
                display: block;
                &-item {
                    &:not(:last-child) {
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .expert-ordinar {
        margin-top: 30px;
        padding-bottom: 30px;
        &__inner {
            display: block;
        }
        &__left {
            display: flex;
            align-items: center;
            width: 100%;
            margin-right: 0;
        }
        &__right {
            display: flex;
            flex-wrap: wrap;
        }
        &__buttons {
            width: 100%;
            order: 3;
            margin-top: 30px;
        }
        &__desc {
            width: 100%;
            padding: 10px 20px;
            // font-size: 14px;
            line-height: 140%;
            margin-top: 20px;
        }
        &__user {
            order: -1;
            margin-right: 40px;
            margin-top: 0;
        }
        &__status {
            margin-top: 30px;
        }
    }
    .expert-info {
        padding: 30px 0 60px;
        background-image: none;
        &__bg {
            width: 50%;
            & img {
                width: 100%;
            }
        }
        &:after {
            display: none;
        }
        &__tabs {
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 15px;
        }
        &__tab {
            margin: 20px 15px 0;
            height: 30px;
            display: flex;
            align-items: center;
        }
    }
    .experts-all {
        .experts__tabs {
            justify-content: center;
        }
        .experts__tab {
            margin: 10px 10px 0;
        }
        .experts__contents {
            margin-top: 40px;
        }
        .experts__content--column {
            grid-template-columns: 1fr 1fr 1fr;
            .experts-all__item {
                &:not(:last-child) {
                    margin-bottom: 0px;
                }
            }
        }
        &__item {
            &:not(:last-child) {
                margin-bottom: 25px;
            }
            &-inner {
                display: block;
            }
            &-left {
                width: 100%;
                padding-right: 0;
            }
            &-right {
                width: 100%;
                padding-left: 0;
                margin-top: 15px;
                &:before {
                    display: none;
                }
            }
            &-info {
                display: flex;
                &-item {
                    &:not(:last-child) {
                        margin-right: 20px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .expert-ordinar {
        &__status {
            font-size: 10px;
            line-height: 100%;
            margin-top: 15px;
            padding-left: 15px;
            letter-spacing: 0.16em;
            &:before {
                width: 9px;
                height: 9px;
            }
        }
        &__user {
            width: 125px;
            height: 125px;
            flex-shrink: 0;
            margin-right: 15px;
            &>img {
                width: 90px;
            }
        }
        &__play {
            left: 10px;
            bottom: 0;
            & i {
                width: 30px;
                height: 30px;
                margin-right: 7px;
                & img {
                    width: 10px;
                }
            }
            & span {
                font-size: 12px;
                line-height: 140%;
            }
        }
        &__name {
            font-size: 18px;
        }
        &__profession {
            margin-top: 10px;
            font-size: 12px;
            line-height: 130%;
        }
        &__desc {
            font-size: 14px;
        }
        &__buttons {
            flex-wrap: wrap;
            margin-top: 0;
        }
        &__btn {
            width: 100%;
            margin-top: 15px;
            height: 45px;
            & img {
                width: 20px;
            }
        }
    }
    .expert-info {
        &__tab {
            margin: 10px 5px 0;
            height: 20px;
            padding-left: 25px;
            font-size: 12px;
            &:before {
                width: 20px;
                height: 18px;
            }
        }
    }
    .expert-info-feedback {
        &__btn {
            margin-top: 20px;
            &-more {
                margin-top: 20px;
            }
        }
        &-inner {
            padding: 30px;
        }
        &__item {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            &-desc {
                font-size: 14px;
                line-height: 145%;
                margin-top: 10px;
            }
        }
    }
    .experts-all {
        .experts__content--column {
            grid-template-columns: 1fr 1fr;
            gap: 90px 20px;
        }
        &__item {
            &-left {
                display: block;
            }
            &-inner {
                padding: 20px;
            }
            &-img {
                width: 150px;
                height: 150px;
                margin-left: auto;
                margin-right: auto;
                & img {
                    width: 108px;
                }
            }
            &-name {
                font-size: 15px;
            }
            &-profession {
                font-size: 13px;
            }
            &-info {
                margin-top: 20px;
                & span,
                & strong {
                    font-size: 13px;
                }
            }
            &-desc,
            &-link,
            &-themes {
                font-size: 11px;
                line-height: 140%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .experts-all {
        .experts__content--column {
            grid-template-columns: 1fr;
            gap: 90px 20px;
        }
    }
}