.card {
  background-image: url(../images/card_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 95px 30px 30px;
  position: relative;
  transition: all .3s;
  background-color: #252525; }
  .card:hover {
    background-color: #ba8658;
    background-image: url(../images/card_bg_active.png);
    color: #000000; }
    .card:hover .card__top:after {
      opacity: 1; }
    .card:hover .card__name:after {
      background-color: #fff; }
    .card:hover .card__link {
      background-color: #252525;
      color: #ba8658; }
    .card:hover .card__profession {
      font-weight: 500; }
  .card__top {
    width: 150px;
    height: 150px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .card__top img {
      z-index: 2; }
    .card__top:after {
      content: '';
      position: absolute;
      z-index: 1;
      opacity: 0.29;
      background-image: url(../images/card-top.png);
      width: 100%;
      height: 100%; }
  .card__notification {
    position: absolute;
    background: #b6d65e;
    z-index: 3;
    border-radius: 50%;
    right: 30px;
    bottom: 30px;
    width: 14px;
    height: 14px;
    border: 1px solid #ffffff; }
  .card__name {
    font-size: 17px;
    line-height: 130%;
    font-weight: 600;
    text-align: center;
    padding-bottom: 14px;
    position: relative; }
    .card__name:after {
      content: '';
      position: absolute;
      z-index: 1;
      width: 40px;
      height: 2px;
      background-color: #ba8658;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%); }
  .card__profession {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 17px;
    text-align: center; }
  .card__info {
    margin-top: 25px;
    display: flex;
    justify-content: space-between; }
    .card__info-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 15px;
      line-height: 21px;
      font-weight: 400;
      text-align: center; }
      .card__info-item path {
        fill: #c78b53; }
      .card__info-item span {
        margin-top: 15px;
        width: 100%; }
      .card__info-item strong {
        width: 100%;
        font-weight: 600; }
  .card__link {
    width: 150px;
    height: 44px;
    margin: 28px auto 0;
    border-radius: 22px; }

.card2 {
  background-color: #252525;
  padding: 8px;
  transition: all .3s; }
  .card2:hover {
    background-color: #ba8658;
    color: #000000; }
    .card2:hover .card2__inner {
      border-color: #000; }
    .card2:hover .card2__link {
      background-color: #252525;
      color: #ba8658; }
    .card2:hover .card2__desc {
      font-weight: 500; }
    .card2:hover .card2__title {
      color: #000; }
      .card2:hover .card2__title:after {
        content: '';
        position: absolute;
        z-index: 1;
        background: #000; }
    .card2:hover .card2__price {
      color: #ba8658;
      background-color: #fff; }
  .card2__inner {
    border: 1px solid #ba8658;
    padding: 30px;
    position: relative; }
  .card2__price {
    transition: all .3s;
    position: absolute;
    width: 74px;
    height: 74px;
    background-color: #ba8658;
    border-radius: 50%;
    top: -8px;
    right: 0;
    transform: translateX(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0 14px; }
    .card2__price strong {
      font-size: 21px;
      font-weight: 500; }
    .card2__price span {
      font-size: 16px;
      line-height: 19px;
      font-weight: 300; }
  .card2__title {
    transition: all .3s;
    font-size: 17px;
    line-height: 170%;
    font-weight: 600;
    text-align: center;
    position: relative;
    color: #ba8658;
    padding: 0 25px 20px; }
    .card2__title:after {
      content: '';
      position: absolute;
      z-index: 1;
      width: 40px;
      height: 2px;
      background-color: #fff;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%); }
  .card2__desc {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 30px;
    text-align: center; }
  .card2__link {
    width: 150px;
    height: 44px;
    margin: 30px auto 0;
    border-radius: 22px;
    transition: all .3s; }

.card3 {
  background-color: #252525;
  padding: 8px;
  transition: all .3s; }
  .card3:hover {
    background-color: #ba8658;
    color: #000000; }
    .card3:hover .card3__inner {
      border-color: #000; }
    .card3:hover .card3__link {
      background-color: #252525;
      color: #ba8658; }
    .card3:hover .card3__desc {
      font-weight: 500; }
    .card3:hover .card3__title {
      color: #000; }
      .card3:hover .card3__title:after {
        content: '';
        position: absolute;
        z-index: 1;
        background: #000; }
    .card3:hover .card3__price {
      color: #ba8658;
      background-color: #fff; }
  .card3__inner {
    border: 1px solid #ba8658;
    padding: 30px;
    position: relative; }
  .card3__top {
    width: 190px;
    height: 190px;
    margin: -125px auto 0; }
    .card3__top img {
      width: 100%; }
  .card3__price {
    transition: all .3s;
    position: absolute;
    width: 74px;
    height: 74px;
    background-color: #ba8658;
    border-radius: 50%;
    top: 0px;
    left: 50%;
    transform: translate(60%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0 14px; }
    .card3__price strong {
      font-size: 21px;
      font-weight: 500; }
    .card3__price span {
      font-size: 16px;
      line-height: 19px;
      font-weight: 300; }
  .card3__title {
    transition: all .3s;
    font-size: 17px;
    line-height: 170%;
    margin-top: 30px;
    font-weight: 600;
    color: #bf8b5c;
    position: relative;
    color: #ba8658; }
  .card3__desc {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 15px; }
  .card3__link {
    width: 202px;
    height: 44px;
    margin: 35px auto 0;
    border-radius: 22px;
    transition: all .3s; }

.breadcrumbs {
  margin-top: 33px; }
  .breadcrumbs__inner {
    content: '';
    display: flex;
    align-items: center; }
  .breadcrumbs__items {
    padding: 8px 22px;
    border-radius: 23.5px;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: -22px;
    flex-wrap: wrap; }
    .breadcrumbs__items:before {
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      background-color: #252525;
      border-radius: 23.5px; }
  .breadcrumbs__item {
    font-size: 15px;
    line-height: 200%;
    font-weight: 500;
    color: #727171;
    position: relative;
    z-index: 2; }
    .breadcrumbs__item:not(:first-child) {
      margin-left: 25px; }
      .breadcrumbs__item:not(:first-child):before {
        content: '';
        position: absolute;
        z-index: 2;
        width: 6px;
        height: 6px;
        left: -17px;
        top: 12px;
        background-color: #ba8658;
        border-radius: 50%; }
    .breadcrumbs__item:last-child {
      color: #ffffff; }

.btn-yellow {
  background-color: #ba8658;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  height: 59px; }
  .btn-yellow:hover {
    background: #c08d60; }

.btn-outline-yellow {
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  height: 59px;
  border: 2px solid #ba8658; }
  .btn-outline-yellow:hover {
    background: #c08d60; }

.btn-outline-white {
  border: 2px solid #393939;
  color: #fff;
  font-size: 16px;
  font-weight: 500; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center; }

.btn-rounded {
  border-radius: 31px; }

@media screen and (max-width: 992px) {
  .breadcrumbs {
    margin-top: 0px; }
    .breadcrumbs__items {
      margin-left: 0; } }
@media screen and (max-width: 768px) {
  .btn-yellow,
  .btn-outline-yellow {
    height: 45px;
    font-size: 15px; }

  .breadcrumbs__item {
    font-size: 12px; }
    .breadcrumbs__item:not(:first-child) {
      margin-left: 12px; }
      .breadcrumbs__item:not(:first-child):before {
        width: 4px;
        height: 4px;
        left: -9px;
        top: 10px; }

  .card2__inner {
    padding: 30px; }
  .card2__price {
    width: 65px;
    height: 65px;
    padding: 17px 0 10px; }
    .card2__price strong {
      font-size: 19px; }
    .card2__price span {
      font-size: 15px; }
  .card2__title {
    font-size: 15px;
    line-height: 130%; }
  .card2__desc {
    font-size: 13px;
    line-height: 150%; }

  .card3__inner {
    padding: 20px; }
  .card3__top {
    width: 160px;
    height: 160px;
    margin-top: -100px; }
  .card3__price {
    width: 65px;
    height: 65px;
    padding: 17px 0 10px; }
    .card3__price strong {
      font-size: 19px; }
    .card3__price span {
      font-size: 15px; }
  .card3__title {
    font-size: 15px;
    line-height: 130%; }
  .card3__desc {
    margin-top: 15px;
    font-size: 13px;
    line-height: 150%; } }
@media screen and (max-width: 500px) {
  .card__info {
    justify-content: center; }
    .card__info-item {
      margin: 0 5px; } }

/*# sourceMappingURL=ux.css.map */
