.card {
    background-image: url(../images/card_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 95px 30px 30px;
    position: relative;
    transition: all .3s;
    background-color: #252525;
    &:hover {
        background-color: #ba8658;
        background-image: url(../images/card_bg_active.png);
        color: #000000;
        .card__top {
            &:after {
                opacity: 1;
            }
        }
        .card__name {
            &:after {
                background-color: #fff;
            }
        }
        .card__link {
            background-color: #252525;
            color: #ba8658;
        }
        .card__profession {
            font-weight: 500;
        }
    }
    &__top {
        width: 150px;
        height: 150px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 0;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
            z-index: 2;
        }
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            opacity: 0.29;
            background-image: url(../images/card-top.png);
            width: 100%;
            height: 100%;
        }
    }
    &__notification {
        position: absolute;
        background: #b6d65e;
        z-index: 3;
        border-radius: 50%;
        right: 30px;
        bottom: 30px;
        width: 14px;
        height: 14px;
        border: 1px solid #ffffff;
    }
    &__name {
        font-size: 17px;
        line-height: 130%;
        font-weight: 600;
        text-align: center;
        padding-bottom: 14px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            width: 40px;
            height: 2px;
            background-color: #ba8658;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
    }
    &__profession {
        font-size: 15px;
        line-height: 25px;
        font-weight: 400;
        margin-top: 17px;
        text-align: center;
    }
    &__info {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        &-item {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-size: 15px;
            line-height: 21px;
            font-weight: 400;
            text-align: center;
            & path {
                fill: #c78b53;
            }
            & span {
                margin-top: 15px;
                width: 100%;
            }
            & strong {
                width: 100%;
                font-weight: 600;
            }
        }
    }
    &__link {
        width: 150px;
        height: 44px;
        margin: 28px auto 0;
        border-radius: 22px;
    }
}

.card2 {
    background-color: #252525;
    padding: 8px;
    &:hover {
        background-color: #ba8658;
        color: #000000;
        .card2__inner {
            border-color: #000;
        }
        .card2__link {
            background-color: #252525;
            color: #ba8658;
        }
        .card2__desc {
            font-weight: 500;
        }
        .card2__title {
            color: #000;
            &:after {
                content: '';
                position: absolute;
                z-index: 1;
                background: #000;
            }
        }
        .card2__price {
            color: #ba8658;
            background-color: #fff;
        }
    }
    &__inner {
        border: 1px solid #ba8658;
        padding: 30px;
        position: relative;
    }
    &__price {
        position: absolute;
        width: 74px;
        height: 74px;
        background-color: #ba8658;
        border-radius: 50%;
        top: -8px;
        right: 0;
        transform: translateX(50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px 0 14px;
        & strong {
            font-size: 21px;
            font-weight: 500;
        }
        & span {
            font-size: 16px;
            line-height: 19px;
            font-weight: 300;
        }
    }
    &__title {
        font-size: 17px;
        line-height: 170%;
        font-weight: 600;
        text-align: center;
        position: relative;
        color: #ba8658;
        padding: 0 25px 20px;
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            width: 40px;
            height: 2px;
            background-color: #fff;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
    }
    &__desc {
        font-size: 14px;
        line-height: 25px;
        font-weight: 400;
        margin-top: 30px;
        text-align: center;
    }
    &__link {
        width: 150px;
        height: 44px;
        margin: 30px auto 0;
        border-radius: 22px;
    }
}

.breadcrumbs {
    margin-top: 33px;
    &__inner {
        content: '';
        display: flex;
        align-items: center;
    }
    &__items {
        padding: 8px 22px;
        border-radius: 23.5px;
        display: flex;
        align-items: center;
        position: relative;
        margin-left: -22px;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            background-color: #252525;
            border-radius: 23.5px;
        }
    }
    &__item {
        font-size: 15px;
        line-height: 200%;
        font-weight: 500;
        color: #727171;
        position: relative;
        z-index: 2;
        &:not(:last-child) {
            margin-right: 25px;
            &:before {
                content: '';
                position: absolute;
                z-index: 2;
                width: 6px;
                height: 6px;
                right: -17px;
                top: 12px;
                background-color: #ba8658;
                border-radius: 50%;
            }
        }
        &:last-child {
            color: #ffffff;
        }
    }
}

.btn-yellow {
    background-color: #ba8658;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    height: 59px;
    &:hover {
        background: #c08d60;
    }
}

.btn-outline-yellow {
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    height: 59px;
    border: 2px solid #ba8658;
    &:hover {
        background: #c08d60;
    }
}

.btn-outline-white {
    border: 2px solid #393939;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-rounded {
    border-radius: 31px;
}

@media screen and (max-width: 992px) {
    .breadcrumbs {
        margin-top: 0px;
        &__items {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .btn-yellow,
    .btn-outline-yellow {
        height: 45px;
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .card {
        &__info {
            justify-content: center;
            &-item {
                margin: 0 5px;
            }
        }
    }
}